$bg_color: #F4F4F4;
$bg_color2: #fff;
$text_color: #212529;
$text_color2: #6c757d;
$placeholder_color: #6c757d;
$border_color: #DCDCDC;
$blue_color: #007bff;
$green_color: #28a745;
$red_color: #DD4C4F;
$focus_blue: rgba(38, 143, 255, 0.3);
$focus_green: rgba(72, 180, 97, 0.4);
$focus_red: rgba(225, 83, 97, 0.4);

$time: 0.2s;